@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
	margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(#15191F, #331B46);
}

header nav {
    padding: 30px 5% 0px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    color: #d33bfd;
}

header nav .menu {
    display: flex;
}

header nav .menu p {
	margin: 5px 10px 0 0;
	color: #c8cacc;
}

header nav .menu p:hover {
	color: white;
	cursor: pointer;
}

header nav .menu button {
	padding: 5px 15px;
	font-size: 16px;
	background-color: inherit;
	border: 1px solid #D33BFD;
    color: #D33BFD;
	border-radius: 5px;
	cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

header nav .menu button:hover {
    background-color: #D33BFD;
    color: white;
}

.hero {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .hero-text {
	width: 100%;
	flex-shrink: 3;
}
.hero .hero-text h1{
	margin: 0;
	font-size: 4vw;
	width: 80%;
    color: white;
}
.hero .hero-text p{
	font-weight: 300;
	color: #e9e9e9;
}
.hero .hero-text button{
	margin-top: 20px;
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
    background-color: #D33BFD;
    color: white;
    border: 1px solid #D33BFD;
    transition: background-color 0.5s, color 0.5s;
}

.hero .bigimg img {
    width: 100%;
}



.hero button:hover{
    background-color: inherit;
    color: #D33BFD;
}

.hero-images{
    margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


.hero-images .image{
	padding: 20px;
	background-color: #33314d;
	margin: 0 15px 15px 0;
	border-radius: 20px;
    transition: filter 0.3s;
}

.hero-images .image img{
    width: 120px;
}

.secondSec .newProduct{
    margin : 0;
    color : #D33BFD
}
.secondSec{
    margin: 0;
    background-color: #13181D;
}

.secondSec h1{
	margin: 0;
	font-size: 4vw;
	width: 80%;
    color: white;
}

.secondSec p{
    color: white;
}

.secondSec button{
	margin-top: 20px;
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
    background-color: inherit;
    color: #D33BFD;
    border: 1px solid #D33BFD;
    transition: background-color 0.5s, color 0.5s;
}

.secondSec button:hover{
    background-color: #D33BFD;
    color: white;
}

.productDiv{
    width: 100%;
    flex-shrink: 3;
}

footer {
	margin: 0;
	padding: 20px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer h3 {
    color : #D33BFD;
}

footer p {
	cursor: pointer;
	color: #ccc;
}
footer p:hover {
	color: white;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 25px;
}

.burger-menu div {
    background-color: white;
    height: 4px;
    width: 24px;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #15191F;
    position: fixed;
    top: 0;
    left: -105%;
    width: 100%;
    height: 100%;
    transition: left 0.4s;
    padding: 60px 10px;
    z-index: 1;
}

.dropdown-menu.show {
    left: 0;
}


@media screen and (max-width: 640px) {
    .burger-menu {
        display: block;
        z-index: 10;
    }
    .dropdown-menu{
        display: block;
        text-align: center;
        font-size: 2em;
        opacity: 0.97;
    }
    .dropdown-menu p{
        color: #D33BFD;
        font-weight: 300;
    }
    .dropdown-menu .buy{
        margin-top: 20px;
        padding: 15px 20px;
        font-size: 15px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        background-color: inherit;
        color: #D33BFD;
        border: 1px solid #D33BFD;
        transition: background-color 0.5s, color 0.5s;
    }
    .menu {
        display: none;
    }
    header nav .menu button {
        display: none;
    }
    .hero {
        flex-direction: column;
    }
    .secondSec{
        text-align: center;
    }
    .secondSec h1{
        width: 95%;
    }
    nav .menu p{
        display: none;
    }
    nav .menu .buy{
        display: none;
    }
    .hero-text h1{
        font-size: 2em;
    }
    .bigimg img{
        scale: 0.8;
    }

    footer {
		justify-content: start;
	}
	footer .column {
		width: 80%;
	}
    .hero .hero-text h1 {
        width: 95%;
        text-align: center;
        color: #D33BFD;
    }
    .hero-images .image img{
        width: 80px;
    }
    .hero-images{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .hero .hero-text {
        text-align: center;
    }
    .no-scroll {
        overflow: hidden;
    }
}